tmp
.classpath
.project
/.idea/
*.iml
.idea/
restaurant.iml
.checkstyle
build
target
bin
.settings
out
/build
/target/
/.idea/*
/.git/*
/.settings/*
/.settings/*.xml
/build/*
/build/*.properties
/build/*.sql
.gitignore
/dao/.settings/*
/services/.settings/*
/web/.settings/*